<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Jan Hogerbrugge's Portfolio: Sales Professional going webdevelopment</title>
  </head>
  <body>
    <div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2> About </h2>
        <hr>
        <img id="profile_pic" src="./assets/rj.png" alt="HTML5 Icon" style="width:150px;height:150px;">
        <p> After 10 awesome years in sales and business development I felt it <br>
        was time for a change in my career. In a 4 month sabbatical I overthought <br>
        my career and tried to figure out what gives me joy in life and how I <br>
        would like to spend the next 10 years of my <a href="#"> life. </a> </p>

        <p> I have spent a month learning the basics of programming languages such <br>
        as HTML, CSS, Python and Ruby. The process gave me so much joy that I <br>
        applied for a traineeship with Codaisseur to become a junior developer. </p>
      </div>
      <div class="col-2 homepage_content">
        <h2> My Projects </h2>
        <hr>
          <h3><a href="#"> Playwall </a></h3>
            <p class="date"> Wednesday the 15th of February 2017</p>
          <h3><a href="#"> Amstercats </a></h3>
            <p class="date"> Thursday the 5th of February 2017</p>
          <h3><a href="#"> Casal Verde </a></h3>
            <p class="date"> Monday the 2nd of March 2017</p>
          <h3><a href="#"> Portfolio </a></h3>
            <p class="date"> Thursday the 5th of February 2017</p>
      </div>

      <div class="col3 homepage_content">
        <h2> Blog posts </h2>
        <hr>
          <h3><a href="#"> My first app </a></h3>
            <p class="date"> Tuesday the 5th of March 2017</p>
          <h3><a href="#"> Coding is hard, but fun! </a></h3>
            <p class="date"> Monday the 4th of March 2017</p>
          <h3><a href="#"> React and feathers is joy. </a></h3>
            <p class="date"> Thursday the 5th of February 2017</p>
      </div>
    </div>
  </body>
</html>
