<!DOCTYPE html>
<html lang="en">
<head>
  <title>Robert Jan Hogerbrugge's Portfolio: Sales Professional going webdevelopment</title>
  <link href="stylesheet" rel="stylesheets/application.scss">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <a href="#" class="name"> Robert Jan Hogerbrugge</a>
    <nav>
      <a href="#"> Blog posts</a>
      <a href="#"> Projects </a>
      <a href="#"> Contact </a>
    </nav>
  </header>
  <div class="wrapper clearfix">
    <div class="col-1 homepage_content">
      <h2> About </h2>
      <hr>
      <p> blallblallflflfla </p>
      <p> blallblallflflfla </p>
      <p> blallblallflflfla </p>
      <p> blallblallflflfla </p>
      <p> blallblallflflfla </p>
    </div>
    <div class="col-2 homepage_content">

    </div>
    <div class="col3 homepage_content">

    </div>

</body>
</html>
