<h1 id="page_title"> My Blog Posts </h1>

<div id="articles_wrapper" class="skinny_wrapper">
  <div class="article">
    <p class="date"> Tuesday the 5th of March 2017 </p>
    <h2><a href="#">My first app</a></h2>
    <hr>
  </div>
  <div class="article">
    <p class="date"> Tuesday the 5th of March 2017 </p>
    <h2><a href="#">Coding is hard, but fun!</a></h2>
    <hr>
  </div>
  <div class="article">
    <p class="date"> Tuesday the 5th of March 2017 </p>
    <h2><a href="#">React, Feathers FTW!</a></h2>
    <hr>
  </div>
  <div class="article">
    <p class="date"> Tuesday the 5th of March 2017 </p>
    <h2><a href="#">Back to Rails!</a></h2>
    <hr>
  </div>

  <div class="pagination">
    <span class="previous_page disabled">
    Previous</span>
    <em class="current">1</em>
    <a rel="next" href="#">2</a>
    <a class="next_page" href="#">Next</a>
  </div>

</div>
