<footer id="main_footer">
  <p class="copyright">&copy; 2017 RobertJ</p>
  <nav>
    <a href="https://www.linkedin.com/in/robert-jan-hogerbrugge-38ab3a9/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/PooKNL"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</footer>
