<header id="main_navigation" class="clearfix">
  <a href="/index/" class="name"> Robert Jan Hogerbrugge</a>
  <nav>
    <a href="/articles/"> My blog</a>
    <a href="/projects/"> My projects</a>
    <a href="/contact/"> Contact me</a>
  </nav>
</header>
