<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Jan Hogerbrugge's Portfolio: Sales Professional going webdevelopment</title>
  </head>
  <body>
    <div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <div class="profile-pic-wrapper">
          <img id="profile_pic" src="/assets/rj.png" alt="HTML5 Icon" style="width:150px;height:150px;">
        </div>
        <div class="intro-text">
          <p> I am an experienced business developer who has turned to the web development side.
          after 10 succesful years in sales consultancy and business development I underwent
          the Codaisseur web development traineeship and succeeded. </p>
          <p>I work with libraries and frameworks such as Ruby on Rails, React and Node.JS </p>
        </div>
        <div class="opp-icons">
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/robert-jan-hogerbrugge-38ab3a9/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://github.com/PooKNL"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
    </div>

      <div class="col-2 homepage_content">
          <h2> My Projects </h2>

          <% @projects.each do |project| %>
            <h3><%= link_to project.title, project %> </h3>
            <p class="date"> <%= project.created_at.strftime("%A,%b, %d") %> </p>
          <% end %>

          <div class="home_pagination">
            <span class="previous_page disabled">
            Previous</span>
            <em class="current">1</em>
            <a rel="next" href="#">2</a>
            <a class="next_page" href="#">Next</a>
          </div>
      </div>

      <div class="col3 homepage_content">
          <h2> Blog posts </h2>

          <% @articles.each do |article| %>
            <h3><%= link_to article.title, article %></h3>
            <p class="date"> <%= article.created_at.strftime("%A,%b, %d") %> </p>
          <% end %>

            <div class="home_pagination">
              <span class="previous_page disabled">
              Previous</span>
              <em class="current">1</em>
              <a rel="next" href="#">2</a>
              <a class="next_page" href="#">Next</a>
            </div>
      </div>
    </div>
  </body>
</html>
