<h1 id="page_title"> Let's get in touch. :) </h1>

<div class="skinny_wrapper wrapper_padding">
  <h1> Hi there. :) Thanks for leaving a message! </h1>
  <p> I will get back to you as soon as I can. </p>
</div>
