<h1 id="page_title"> My Projects </h1>

<div id="articles_wrapper" class="skinny_wrapper">
  <div class="project_article">
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project %> </h3>
      <p class="date"> <%= project.created_at.strftime("%A,%b, %d") %> </p>
      <% end %>
  </div>
</div>

<%= will_paginate @projects %>
