@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "articles_projects.scss";

$aqua: #6BBAA7;
$sunshine: #FBA100;
$lavender: #6C648B;
$dustyrose: #B6A19E;


* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

div.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(Background4.jpg) no-repeat center center fixed;
  background-size: cover;
}

div.site {
  display: flex;
  min-height: 110vh;
  flex-direction: column;
  z-index: 9999;
}

div.content-1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.content-3 {
  flex: 1;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.content-2 {
  flex: 1;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}


h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $lavender;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

hr {
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $aqua;
  margin: 2rem 0 ;
}

p, li {
  font-size: 1.8rem;
  line-height: 1.75;
}

p, ul, ol, {
  margin: 0 0 1.6em 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 8em 0;
}

@media (min-width: 40em) {
  #main_navigation {
    padding: 1.5em 2.5%;
    font-family: 'Archivo Black', sans-serif;
    .name {
      font-weight: 700px;
      font-size: 1.5em;
      letter-spacing: 4px;
      text-transform: uppercase;
      border: 2px solid $dustyrose;
      padding: 0.75em 1rem;
      text-decoration: none;
      color: $sunshine;
      float: left;
    }
    nav.nav-links {
      float: right;
      padding-top: 1.1rem;
    }
    a {
      color: $sunshine;
      font-size: 1.5em;
      padding: 0 .5em;
    }
  }

  #main_footer {
    padding: 2.5em 5%;
    margin-top: auto;
    .copyright {
      float: right;
      font-size: 1.4em;
      margin: 0;
    }
    a {
      font-size: 2em;
    }
    p {
      font-size: 2em;
      color: $sunshine;
    }
    nav {
      float: right;
      i {
        margin-left: 1em;
        padding-top: .2em;
        color: $sunshine;
        &:hover{
          color: $aqua;
        }
      }
    }
  }
}

@media (max-width: 40em) {
  #main_navigation {
    padding: 1.5em 2.5%;
    font-family: 'Archivo Black', sans-serif;
    .name {
      font-weight: 700px;
      font-size: 1.5em;
      letter-spacing: 4px;
      text-transform: uppercase;
      border: 2px solid $dustyrose;
      padding: 0.75em 1rem;
      text-decoration: none;
      color: $lavender;
      float: left;
      margin-bottom: 1.5em;
      text-align: center;
    }
    nav.nav-links {
      padding-top: 1.1rem;
      text-align: center;
    }
    a {
      color: $sunshine;
      font-size: 1.5em;
      padding: 0 .5em;
    }
  }

  #main_footer {
    padding: 2.5em 5%;
    margin-top: auto;
    .copyright {
      float: right;
      font-size: 1.4em;
      margin: 0;
    }
    a {
      font-size: 2em;
    }
    p {
      font-size: 2em;
      color: $sunshine;
    }
    nav {
      float: right;
      i {
        margin-left: 1em;
        padding-top: .2em;
        color: $sunshine;
        &:hover{
          color: $aqua;
        }
      }
    }
  }
}
input[type="text"], input[type="email"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $dustyrose;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 20em;
}

input[type="submit"], .button {
  outline: none;
  background: transparent;
  border: 2px solid $dustyrose;
  text-align: center;
  font-size: 1em;
  color: $lavender;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: 2px solid $sunshine;
    color: $sunshine;
  }

}
