@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "articles_projects.scss";

$aqua: #6BBAA7;
$sunshine: #FBA100;
$lavender: #6C648B;
$dustyrose: #B6A19E;

* {
  box-sizing: border-box;
}

div.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

div.content-1, div.content-2, div.content-3 {
  flex: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

body {
  background-color: white;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $lavender;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

hr {
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $aqua;
  margin: 2rem 0 ;
}

p, li {
  font-size: 1.8rem;
  line-height: 1.75;
}

p, ul, ol, {
  margin: 0 0 1.6em 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4em 0;
}

#main_navigation {
  padding: 1.5em 5%;
  font-family: 'Archivo Black', sans-serif;
  border-bottom: 1px solid $sunshine;
  .name {
    font-weight: 700px;
    font-size: 1.5em;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid $dustyrose;
    padding: 0.75em 1rem;
    text-decoration: none;
    color: $lavender;
    float: left;
  }

  nav {
    float: right;
    padding-top: 1.1rem;
    a {
      color: $lavender;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 2rem;
    }
  }
}

#main_footer {
  position: relative;
  padding: 2.5em 5%;
  border-top: 1px solid $sunshine;
  margin-top: auto;
  .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }

  nav {
    float: right;
    i {
      color: $lavender;
      margin-left: 1em;
      padding-top: .2em;
      &:hover{
        color: $aqua;
      }
    }
  }
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $dustyrose;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 20em;
}

input[type="submit"], .button {
  outline: none;
  background: transparent;
  border: 2px solid $dustyrose;
  text-align: center;
  font-size: 1em;
  color: $lavender;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: 2px solid $sunshine;
    color: $sunshine;
  }

}

#profile_pic {
  margin: 0 0 1.5em 0;
  border: solid;
  border-color: $aqua;
}

#page_title {
  font-weight: 800;
  text-align: center;
  padding: 1.5em 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}
