$aqua: #6BBAA7;
$sunshine: #FBA100;
$lavender: #6C648B;
$dustyrose: #B6A19E;
$white: #FFFFFF;

#articles_wrapper {
  padding: 3em 0;
  .post {
    text-align: center;
    .date {
      font-size: .9em;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $lavender;
        &:hover {
          color: $aqua;
        }
      }
    }
    hr {
      margin: 3em auto;
    }
  }
}

// Posts show styling

#article_show_content {
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $aqua;
      margin: 0;
    }
    h1 {
    margin: 0;
    }
  }
  hr {
  margin: 3em auto;
  }
}

#share_box {
  text-align: center;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $lavender;
    font-size: .8em;
  }
  i {
    color: $lavender;
    padding: 1em 1.5em;
    &:hover {
      color: $sunshine;
      cursor: pointer;
    }
  }
}

// Pagination styling

.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear:box;
}

.pagination {
  text-align: center;
  width: 100%;
  margin: auto;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 0.25em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
    color: $lavender;
    &:hover {
    background: $sunshine;
    color: $white;
    }
  }
  .current {
    background: $sunshine;
    color: $white;
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
    color: #C0C0C0;
    background: $white;
    }
  }
}
