$aqua: #6BBAA7;
$sunshine: #FBA100;
$lavender: #6C648B;
$dustyrose: #B6A19E;
$white: #FFFFFF;

.project_article {
  margin-bottom: 5em;
  text-align: center;
}

#articles_wrapper {
  padding: 3em 0;
  .article {
    text-align: center;
    .date {
      font-size: .9em;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $lavender;
        &:hover {
          color: $aqua;
        }
      }
    }
    hr {
      margin: 3em auto;
    }
  }
}

// Article new/edit/show styling

#new_article {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 6em;
  color: $lavender;
  h1 {
    margin-left: 3.7em;
    weight: 700;
  }
}

#article_show {
  width: 80%;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 6em;
  color: $lavender;
  h1 {
    weight: 700;
    margin: 0;
  }
  hr {
  margin: 3em auto;
  }
  .date {
    font-size: .9em;
    color: $aqua;
    margin: 0;
  }
}

#article_edit {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 6em;
  color: $lavender;
  h1 {
    weight: 700;
  }
}

#article_share {
  text-align: center;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $lavender;
    font-size: .8em;
  }
  i {
    color: $lavender;
    padding: 1em 1.5em;
    &:hover {
      color: $sunshine;
      cursor: pointer;
    }
  }
}

#admin_links {
  border-top: 1px solid $aqua;
  border-bottom: 1px solid $aqua;
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;
  a {
    color: $sunshine;
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
  }
}


// Project new/edit/show

#new_project {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 6em;
  color: $lavender;
  h1 {
    margin-left: 3.7em;
    weight: 700;
  }
}

#project_show {
  width: 80%;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 6em;
  color: $lavender;
  h1 {
    weight: 700;
    margin: 0;
  }
  hr {
  margin: 3em auto;
  }
  .date {
    font-size: .9em;
    color: $aqua;
    margin: 0;
  }
  }

#project_edit {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 6em;
  color: $lavender;
  h1 {
    weight: 700;
  }
}

// Pagination styling

.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear:box;
}

.pagination {
  text-align: center;
  width: 100%;
  margin: auto;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 0.25em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
    color: $lavender;
    &:hover {
    background: $sunshine;
    color: $white;
    }
  }
  .current {
    background: $sunshine;
    color: $white;
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
    color: #C0C0C0;
    background: $white;
    }
  }
}

.home_pagination {
  text-align: left;
  width: 100%;
  margin: auto;
  a, .previous_page, .current, .next_page {
    padding: .5em 0.75em;
    margin: 0 0.25em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: .75em;
    font-style: normal;
    color: $lavender;
    &:hover {
    background: $sunshine;
    color: $white;
    }
  }
  .current {
    background: $sunshine;
    color: $white;
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
    color: #C0C0C0;
    background: $white;
    }
  }
}
