$aqua: #6BBAA7;
$sunshine: #FBA100;
$lavender: #6C648B;
$dustyrose: #B6A19E;
$blue: #337ab7;

@media (min-width: 40em) {
  .flex-wrapper-columns {
    display: flex;
    flex-direction: row;
  }

  .col-1 {
    width: 55%;
    padding: 0 5% 0 2.5%;
    flex-basis: 40%;
    p {
      font-size: 1.25em;
    }
    a {
      font-size: 2em;
      padding: .5em;
      color: $aqua;
    }
  }

  .col-2 {
    width: 22.5%;
    flex-basis: 30%;
    margin-left: 1em;
    margin-top: 3em;
  }

  .col-3 {
    width: 22.5%;
    flex-basis: 30%;
    margin-left: 1em;
    margin-top: 3em;
  }

  .project-article-style {
    border: 2px solid $sunshine;
    background: rgba(255,255,255,.5);
    border-radius: 5%;
    width: 50%;
    height: 20%;
    text-align: center;
    padding: .8em;
    margin-bottom: 2em;
  }
  .project-article-title {
    color: $blue;
  }
}

@media (max-width: 40em) {
  .flex-wrapper-columns {
    display: flex;
    flex-direction: column;
  }

  .col-1 {
    flex: 1;
    padding: 0 5% 0 2.5%;
    p {
      font-size: 1.25em;
    }
    a {
      font-size: 2em;
      padding: .5em;
      color: $aqua;
    }
  }

  .col-2 {
    flex: 1;
    padding: 0 2.5%;
    margin-top: 3em;
  }

  .col-3 {
    flex: 1;
    padding: 0 2.5%;
    margin-top: 3em;
  }
  .project-article-style {
    border: 2px solid $sunshine;
    background: rgba(255,255,255,.5);
    border-radius: 5%;
    width: 100%;
    height: 20%;
    text-align: center;
    padding: .8em;
    margin-bottom: 2em;
  }
}



.homepage_content {
  h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $lavender;
  }

  h3 {
    font-size: 1.35em;
    font-weight: 700;
    color: $sunshine;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $blue;
    text-align: center;
    &:hover{
      color: $aqua;
    }
  }

  div.opp-icons {
    margin-top: 1em
  }
  div.social-icons {
    text-align: center;
    font-size: 2em;
  }
  div.intro-text {
    margin-bottom: 3rem;
    color: white;
    padding: 1.5em;
    font-size: 1.2em;
    background: rgba(255,255,255,.5);
    font-weight: 400;
    border: 2px solid $sunshine;
    border-radius: 5%;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.125);
  }

  div.contact-me {
    text-align: left;
    margin-top: 2.5em;
    font-size: 1.2em;
  }
  .date {
    font-size: 1em;
    margin-bottom: 1em;
    color: $aqua;
  }

  p {
    margin: 0 0 .75em 0;
  }
}

.about {
  padding: 0 7.5% 0 0;
  a {
    color: $sunshine;
    font-weight: 700;
    text-decoration: none;
  }
}

#blog_project_title {
  margin-top: 1.5em;
  margin-bottom: .5em;
  text-align: left;
}

#project_blog_header {
  margin-bottom: 1.4em;
  color: $lavender;
  font-weight: bold;
}

#profile_pic {
  margin: 0 0 1.5em 0;
  border: solid;
  border-color: $sunshine;
  border-radius: 5%;
}

#page_title {
  font-weight: 800;
  color: $sunshine;
  text-align: center;
  padding: 1.5em 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}
